// variable
$color1: #f1f1f1;
$color2: #a01762;
$colorBackground: #000;
$colorHover: #969696;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
}
body {
  width: 100vw;
}
img {
  object-fit: cover;
}

/*-------------------- header --------------------*/
.header {
  background: url(../images/background.jpg);
  height: 100vh;
  .nav {
    height: 100vh;
    background: linear-gradient(
      to top,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.783),
      rgba(0, 0, 0, 0.591),
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent
    );
  }
}
header {
  width: 100vw;
  position: relative;
  .nav {
    display: flex;
    width: 100%;
    nav {
      width: 100%;
      height: 10vh;
      display: flex;
      color: $color1;
      background: $colorBackground;
      h1 {
        display: flex;
        align-items: center;
        text-align: center;
        font-family: "Times New Roman", Times, serif;
        font-weight: bolder;
        font-size: xx-large;
        a {
          color: $color1;
          text-decoration: none;
          font-family: "Times New Roman", Times, serif;
        }
      }
      // menu nav
      .nav-1,
      .nav-2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        .lien-principal {
          width: 50%;
          height: 100%;
          .sous-menu {
            display: none;
            .lien-secondaire {
              text-align: center;
              width: 100%;
              height: 30px;
              a {
                width: 100%;
                height: 100%;
                background: lighten($color: $colorBackground, $amount: 15)
              }
            }
          }

          &:hover {
            z-index: 1000;
            .sous-menu {
              display: block;
              position: relative;
              .lien-secondaire {
                border: 1px solid black;
                position: absolute;
                top: 0;
                left: 0;
                &:nth-child(2) {
                  top: 20px;
                }
                &:nth-child(3) {
                  top: 40px;
                }
                &:nth-child(4) {
                  top: 60px;
                }
                &:nth-child(5) {
                  top: 80px;
                }
              }
            }
          }

          a {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            height: 100%;
            cursor: pointer;
            color: $color1;
            text-decoration: none;
            transition: all 0.3s;
            &:hover {
              color: $colorHover;
            }
          }

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            width: 33%;
          }
        }
      }

      .nav-1 {
        margin-right: 20px;
      }

      .nav-2 {
        margin-left: 20px;
      }
    }

    .logo {
      position: absolute;
      top: 10%;
      right: 10%;
      width: 450px;
    }
  }
}

/*-------------------- section --------------------*/

section {
  width: 100%;
  background: $colorBackground;
  padding-bottom: 100px;
  /********** page d'acceuil **********/
  .projet {
    position: relative;
    width: 90%;
    height: 30vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    .img-projet {
      position: relative;
      width: 30%;
      overflow: hidden;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.297);

      .img {
        width: 100%;
        height: 30vh;
        transition: all 0.3s ease-in;
        &:hover {
          transform: scale(1.5);
        }
        &:active {
          transition: 0s;
          transform: scale(1);
        }
      }

      .prjt {
        position: absolute;
        color: $color1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: larger;
        font-weight: bold;
      }

      // .hidden {
      //   position: absolute;
      //   top: 60%;
      //   left: 50;
      //   transform: translate(-50%, -50%);
      //   font-size: x-small;
      //   opacity: 0;
      //   transition: all 0.3s;
      //   &:hover {
      //     opacity: 1;
      //     transform: translate(-55%, 10%);
      //   }
      // }
    }
  }

  /********** Gallerie **********/
  .gallerie {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    height: 80vh;
    color: $color1;
    background: lighten($color: $colorBackground, $amount: 10);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .categorie {
      width: 300px;
      height: 250px;
      position: relative;
      margin: auto 20px;
      overflow: hidden;
      a {
        color: $color1;
        text-decoration: none;
        h1 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        img {
          height: 100%;
          width: 100%;
          transition: all 0.3s;
        }
        &:hover {
          h1{
            z-index: 44;
          }
          img {
            transform: scale(1.3);
          }
        }
      }
    }
    .active {
      transform: scale(1.5);
      z-index: 10;
    }
  }
}

/*-------------------- footer --------------------*/

footer {
  width: 100%;
  background: $colorBackground;
  color: #f1f1f1;
  height: 60vh;
  padding-bottom: 10vh;
  .newsletter,
  .reseau {
    margin: auto;
    display: flex;
    width: 60%;
    height: 80%;
    justify-content: space-between;
    align-items: center;
    .news {
      width: 30%;
      h2 {
        font-size: xx-large;
        width: 200px;
        border-bottom: 5px solid $color1;
        margin-bottom: 20px;
      }
      p {
        width: 120%;
      }
    }
    .mail form {
      display: flex;
      flex-direction: column;
      input {
        margin-bottom: 10px;
        padding: 10px 150px 10px 10px;
      }
      button {
        width: 40%;
        text-align: center;
        padding: 10px;
        background: $color2;
        border: none;
        color: $color1;
        font-weight: bolder;
      }
    }
  }
  .reseau {
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    i {
      cursor: pointer;
      font-size: xx-large;
      transition: 0.3s;
      &:hover {
        color: $color2;
        transform: translatey(-10px);
      }
    }
  }
}
